<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
    <link rel="stylesheet" href="css/style.css" />
<head>
    <title>add Salam</title>
</head>
<body>
    <div class="main-container">
        <div class="main-container__links">
            <h1 th:text="${addTitle}"/>
            <form action="/main/addSalam" method="post">
                <input type="text" name="salma">
                <button type="submit">submit</button>
            </form>
        </div>
    </div>
</body>
</html>